phpunit.xml
/.idea
.buildpath
.project
.settings
/.phpunit.cache
/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
.php-cs-fixer.cache
/tools